/* .flags{
	width: 12.5em;
	height:4.25em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position:fixed;right:10px;
	padding-right: 70px; 
	padding-top: 20px;
	justify-self: right;
		
}

.flags-ar,
.flags-br,
.flags-usa {	
  filter: grayscale(100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.flags-ar.hovered,
.flags-br.hovered,
.flags-usa.hovered,
.flags-ar:hover,
.flags-br:hover,
.flags-usa:hover {
  filter: grayscale(0%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.flags_items{
	width: 30px !important;
	height: 20px !important;
		
}

.flags_img{
	
	cursor: pointer;
	
} */

.flags {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 0;
  /* margin-left: 10px; */
  margin-right: 20px;
}

.flags_items img {
  width: 50px !important;
  height: 30px !important;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.flags_items img:hover {
  filter: grayscale(0%);
}

.flags_img {
  cursor: pointer;
  display: flex;
  align-items: center;
}
