.calculator-body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    height: 100vh;
  }
.title-calculator{
  font-family: "Inter", sans-serif;
  color: #0056b3;
  font-weight: bolder;
  text-transform: uppercase;
}


.calculator-h2 {
    font-family: "Inter", sans-serif;
    color: #0056b3;
}

.calculator-label {
    font-family: "Inter", sans-serif;
    color: #0056b3;
}

.calculator-a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }


.calculadora {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 500px;
  }

.calculadora .calculator-h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #0056b3;
  }

.calculadora .calculator-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0056b3;
  }

.calculadora select,
.calculadora input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
  }

.calculator-btn {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    padding: 10px;
    background-color: #0056b3;
    /* background-color: #666666; */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }

.calculator-btn:hover {
    /* background-color: #0056b3; */
    background: linear-gradient(to right, #f5f5f5, #dcdcdc, #ffffff, #b0b0b0);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.8),
                0 4px 6px rgba(0,0,0,0.25);
    transition: background 0.3s ease, 
    box-shadow 0.3s ease;
    color:#252525
  }

.categoria-item {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
    
  }
  
.categoria-item .quitar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    width: auto;
  }

.quitar-btn:hover{
      background:  #dd1641;
      box-shadow: inset 0 1px 1px rgba(255,255,255,0.8),
                  0 4px 6px rgba(0,0,0,0.25);
      transition: background 0.3s ease, 
      box-shadow 0.3s ease;
  }
  

.total-final {
    margin-top: 20px;
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: #0056b3;
    
  }

.calculadora select,
.calculadora input {
  width: 100%;
  box-sizing: border-box;

}

option  {
  font-family: 'Courier New', Courier, monospace;
}    

/* /////////////////////////// */
.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0056b3;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.fixed-prefix {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
  padding: 10px;
  font-weight: bold;
  color: #838383;
  border-right: 1px solid #ccc;
}

.input-wrapper input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.half-width {
  flex: 1;
}

.btn {
  font-family: "Inter", sans-serif;
}

.btn:hover {
  color:#252525 !important;
}

